# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.open-next/

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel / cloudflare
.vercel
.wrangler

# pwa
/public/sw.js
/public/workbox-*.js
/public/worker-*.js
/public/sw.js.map

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts
